Repository LLNL/hiop, pull requests merged in 2021-09, with the labels that each got.

#313 Add functions to hiopVectorInt
  src/LinAlg/hiopVectorInt.hpp
  src/LinAlg/hiopVectorIntRaja.cpp
  src/LinAlg/hiopVectorIntRaja.hpp
  src/LinAlg/hiopVectorIntSeq.cpp
  src/LinAlg/hiopVectorIntSeq.hpp
  tests/LinAlg/matrixTestsRajaSparseTriplet.cpp
  tests/LinAlg/vectorTestsInt.hpp
  tests/LinAlg/vectorTestsIntRaja.cpp
  tests/LinAlg/vectorTestsIntRaja.hpp
  tests/LinAlg/vectorTestsIntSeq.cpp
  tests/LinAlg/vectorTestsIntSeq.hpp
Labels: enhancement

#325 Add missing limits header
  src/Optimization/hiopIterate.cpp
Labels: bug

#315 Add inertia-free approach
  CMakeLists.txt
  src/Drivers/nlpSparse_ex7.cpp
  src/Drivers/nlpSparse_ex7.hpp
  src/Drivers/nlpSparse_ex7_driver.cpp
  src/Optimization/hiopAlgFilterIPM.cpp
  src/Optimization/hiopAlgFilterIPM.hpp
  src/Optimization/hiopFactAcceptor.cpp
  src/Optimization/hiopFactAcceptor.hpp
  src/Optimization/hiopKKTLinSys.cpp
  src/Optimization/hiopKKTLinSys.hpp
  src/Optimization/hiopKKTLinSysDense.hpp
  src/Optimization/hiopKKTLinSysMDS.cpp
  src/Optimization/hiopKKTLinSysMDS.hpp
  src/Optimization/hiopKKTLinSysSparse.cpp
  src/Optimization/hiopKKTLinSysSparse.hpp
  src/Utils/hiopOptions.cpp
Labels: enhancement, sparse-develop, solver options

#321 Sparse kernel development for GPU. Part 2
  src/LinAlg/hiopMatrixRajaSparseTriplet.cpp
  src/LinAlg/hiopMatrixRajaSparseTriplet.hpp
  src/LinAlg/hiopMatrixSparse.hpp
  src/LinAlg/hiopMatrixSparseTriplet.hpp
  src/Optimization/hiopNlpFormulation.cpp
  tests/LinAlg/matrixTestsSparse.hpp
  tests/testMatrixSparse.cpp
Labels: enhancement, sparse-develop

#327 Preprocessor logic for gpu compute mode
  src/Optimization/hiopDualsUpdater.cpp
  src/Optimization/hiopKKTLinSysSparse.cpp
Labels: sparse-develop, device computations

#326 fix zero-length dense matrix
  src/LinAlg/hiopMatrixRajaDense.cpp
Labels: bug, device computations
